<mat-form-field>
  <textarea matInput
            placeholder="Редактировать"
            [(ngModel)]="data"
            cdkTextareaAutosize
  >
  </textarea>
</mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]=data>Confirm</button>
</mat-dialog-actions>
