<div class="article">
  <div *ngIf="data.length">
    <div *ngFor="let item of data; let idx = index">
      <ng-container *ngIf="item.link === name">
      <h2>{{item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].name]}}</h2>
      <p [innerHTML]="item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].purifiedPage]"></p>
      </ng-container>
    </div>
  </div>
</div>
