<p>{{data[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].name]}}</p>
<textarea type="text"  [innerHTML]="data[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].purifiedPage]"
          [(ngModel)]="data[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].purifiedPage]"></textarea>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]=data>Confirm</button>
</mat-dialog-actions>
