<div class="side-header">
  {{ "Содержание" }}
  <div class="flags-icons">
    <img src="../../assets/1.png" routerLink="/reference/ru/start/read">
    <img src="../../assets/2.png" routerLink="/reference/en/start/read">
  </div>
</div>
<ng-container *ngIf="!!data">
  <mat-accordion *ngFor="let row of data">

    <div *ngIf="row[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].parentId]== null">
      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{row[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].name]}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <nav>
          <div *ngFor="let item of data">
            <div class="button-row">
              <button mat-button *ngIf="item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].parentId]=== row.id"
                      routerLink="../../{{item.link}}/read">{{item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].name]}}</button>
              <button mat-button class="button-row__edit"
                      *ngIf="item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].parentId] === row.id"
                      routerLink="../../{{item.link}}/edit">
                <mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>
              </button>
            </div>
          </div>
        </nav>
      </mat-expansion-panel>
    </div>

  </mat-accordion>
</ng-container>

