nav{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;

    button{
    width: 100%;
    white-space: pre-wrap !important;
    line-height: 20px;
    margin-top: 20px;
      min-height: 40px;
  }
}

mat-expansion-panel-header{
  height: 65px;
}

.side-header{
  margin: 15px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  img {
    width: 32px;
    height: 32px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;

    &:hover{
      border: lightgrey 3px solid;
      border-radius: 50px;
    }
  }
}

.button-row{
  display: flex;
  justify-content: space-between;

  .button-row__edit{
    width: 30%;
    height: 30px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

  .material-icons{
    font-size: 16px;
  }

  .mat-icon{
    height: 16px;
  }

  }
}
