<!--<p>edit-article works!</p>-->
<!--<textarea >-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, quo!-->
<!--</textarea>-->


<div class="design-area">
  <div class="article">
    <div *ngIf="data.length">
      <div *ngFor="let item of data; let idx = index">
        <ng-container *ngIf="item.link === name">
          <div class="utility-buttons">
            <mat-card>Settings window
              <button mat-raised-button color="primary" (click)="save(item)">Save</button>
            </mat-card>
          </div>
          <h2>{{item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].name]}}</h2>
          <div [innerHTML]="item[databaseFieldsStndNames[databaseFieldsStndNames.LANG_CONST].purifiedPage]"
               (click)="selectText($event, item)" id="save-content-for-data"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
