.design-area{
  margin: 15px;
  background-color: lightgrey;
  border: aquamarine dashed;

}

.utility-buttons{
  position: sticky;
  top: 20px;
  width: auto;
  margin: 15px;
}

mat-card{
  display: flex;
  justify-content: space-between;
}

