<div class="header"></div>
<div class="menu"></div>


<div class="container">
  <div class="uptable">
    <h2>Справка</h2>
  </div>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <ng-container *ngIf="mode == 'edit'; else elseBlock">
        <app-edit-article [name] = "name"></app-edit-article>
      </ng-container>
    </mat-drawer-content>
  </mat-drawer-container>

  </div>
<ng-template #elseBlock>
  <app-article [name]="name"></app-article>
</ng-template>
