.container{
  display: flex;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  max-width: 90vw;
  margin: 0 100px 0 100px;
  flex-direction: column;
}

.uptable{
  display: flex;
  justify-content: space-between;
}

mat-drawer {
  width: 250px;
}



.menu{
  width: 100%;
  background-color: white;
  height: 70px;
}
.header{
  background-color: #435966;
  height: 60px;
}
h2{
  font-size: 24px;
  margin: 24px;
  color: #666;
  font-weight: 700;
}
mat-drawer-container{
  height: 100%;
}
